
Vagrant-Box/.vagrant/machines/default/virtualbox/action_provision
Vagrant-Box/.vagrant/machines/default/virtualbox/action_set_name
Vagrant-Box/.vagrant/machines/default/virtualbox/box_meta
Vagrant-Box/.vagrant/machines/default/virtualbox/creator_uid
Vagrant-Box/.vagrant/machines/default/virtualbox/id
Vagrant-Box/.vagrant/machines/default/virtualbox/index_uuid
Vagrant-Box/.vagrant/machines/default/virtualbox/private_key
Vagrant-Box/.vagrant/machines/default/virtualbox/synced_folders
Vagrant-Box/.vagrant/machines/default/virtualbox/vagrant_cwd
Vagrant-Box/.vagrant/rgloader/loader.rb
